<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <title>RN Ping Pong Standings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/css/dashboard.css" rel="stylesheet" media="screen" />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RN Ping Pong ELO Standings</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">New Game/Player</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="https://docs.google.com/spreadsheets/d/1rq0Wy7V8cajo3vF4q9B_VRq1lZun9LhT5iSS2MDnJWM/edit?usp=sharing" target="_blank">Rating Info</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2 class="sub-header">New Game</h2>
            <form class="form-horizontal" action="#" th:action="@{/game/new}" th:object="${newGame}" method="post">
                <div class="form-group">
                    <label for="playerOne" class="col-md-3 control-label">Winner</label>
                    <div class="col-md-4">
                        <select id="playerOne" class="form-control" th:field="*{playerOne}">
                            <option th:each="player : ${players}" th:value="${player.name}" th:text="${player.name}"></option>
                        </select>
                    </div>
                    <label for="playerOneScore" class="col-md-2 control-label">Score</label>
                    <div class="col-md-3">
                        <input type="number" class="form-control" id="playerOneScore" th:value="21" readonly="readonly" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="playerTwo" class="col-md-3 control-label">Loser</label>
                    <div class="col-md-4">
                        <select id="playerTwo" class="form-control" th:field="*{playerTwo}">
                            <option th:each="player : ${players}" th:value="${player.name}" th:text="${player.name}"></option>
                        </select>
                    </div>
                    <label for="playerTwoScore" class="col-md-2 control-label">Score</label>
                    <div class="col-md-3">
                        <input type="number" class="form-control" id="playerTwoScore" th:field="*{playerTwoScore}" />
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h2 class="sub-header">New Player</h2>
            <form class="form-horizontal" action="#" th:action="@{/player/new}" th:object="${newPlayer}" method="post">
                <div class="form-group">
                    <label for="name" class="col-md-3 control-label">Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="name" th:field="*{name}" />
                    </div>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>