<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <title>RN Ping Pong Standings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <div class="row page-header">
                <h1>RN Ping Pong ELO Standings <small><a href="https://docs.google.com/spreadsheets/d/1rq0Wy7V8cajo3vF4q9B_VRq1lZun9LhT5iSS2MDnJWM/edit?usp=sharing" target="_blank">rating calc info</a></small></h1>
            </div>
            <div class="col-sm-4 col-md-4">
                <h2 class="sub-header">New Player</h2>
                <form class="form-horizontal" action="#" th:action="@{/player/new}" th:object="${newPlayer}" method="post">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="name" th:field="*{name}" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-sm-8 col-md-8">
                <h2 class="sub-header">New Game</h2>
                <form class="form-horizontal" action="#" th:action="@{/game/new}" th:object="${newGame}" method="post">
                    <div class="form-group">
                        <label for="playerOne" class="col-sm-2 control-label">Player 1</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="playerOne" th:field="*{playerOne}" />
                        </div>
                        <label for="playerOneScore" class="col-sm-2 control-label">Score</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="playerOneScore" th:field="*{playerOneScore}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="playerTwo" class="col-sm-2 control-label">Player 2</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="playerTwo" th:field="*{playerTwo}" />
                        </div>
                        <label for="playerTwoScore" class="col-sm-2 control-label">Score</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="playerTwoScore" th:field="*{playerTwoScore}" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 main">
            <div class="col-sm-4 col-md-4">
                <h2 class="sub-header">Players</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Player</th>
                        <th>Rating</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="player : ${players}">
                        <td th:text="${player.name}"></td>
                        <td th:text="${player.rating}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8 col-md-8">
                <h2 class="sub-header">Games</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Score</th>
                        <th>Player (Rating)</th>
                        <th>Adjustment</th>
                        <th>New Rating</th>
                    </tr>
                    </thead>
                    <tbody th:each="game : ${games}">
                        <tr th:each="player : ${players}" th:if="${game.playerOne == player.id}">
                            <th th:text="${game.playerOneScore} + ' : ' + ${game.playerTwoScore}" th:rowspan="2"></th>
                            <td th:text="${player.name} + ' (' + ${game.playerOneRatingBefore} + ')'" ></td>
                            <td>
                                <span class="label label-success" th:text="'+' + ${game.playerOneAdjustment}" th:if="${game.playerOneAdjustment &gt; 0}"></span>
                                <span class="label label-warning" th:text="${game.playerOneAdjustment}" th:if="${game.playerOneAdjustment == 0}"></span>
                                <span class="label label-danger" th:text="${game.playerOneAdjustment}" th:if="${game.playerOneAdjustment &lt; 0}"></span>
                            </td>
                            <td th:text="${game.playerOneRatingBefore + game.playerOneAdjustment}"></td>
                        </tr>
                        <tr th:each="player : ${players}" th:if="${game.playerTwo == player.id}">
                            <td th:text="${player.name} + ' (' + ${game.playerTwoRatingBefore} + ')'"></td>
                            <td th:if="${game.playerTwo == player.id}">
                                <span class="label label-success" th:text="'+' + ${game.playerTwoAdjustment}" th:if="${game.playerTwoAdjustment &gt; 0}"></span>
                                <span class="label label-warning" th:text="${game.playerTwoAdjustment}" th:if="${game.playerTwoAdjustment == 0}"></span>
                                <span class="label label-danger" th:text="${game.playerTwoAdjustment}" th:if="${game.playerTwoAdjustment &lt; 0}"></span>
                            </td>
                            <td th:text="${game.playerTwoRatingBefore + game.playerTwoAdjustment}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>